<div class="set-layout">
    <div class ="sidebar">
        <div class="set-layout">
         <h1>State Group</h1>
        <label id="example-radio-group-label">Choose your State?</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="countryGroup">
          <mat-radio-button class="example-radio-button" *ngFor="let country of countries" [value]="country" (input)= sendBloodGroup($event)>
            {{country}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{countryGroup}}</div>
        </div>
          
    </div>
    </div>
    