<div class="set-layout">
    <div class="sidebar">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="getUserData">
                <!-- Position Column -->
                <!-- <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
                </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> phoneNumber </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="bloodGroupName">
                    <th mat-header-cell *matHeaderCellDef> Blood Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.bloodGroupName}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>