<div class="set-layout">
    <div class ="sidebar">


      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let country of countryGroupList" [value]="country.countryName">
            {{country.countryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>







        <div class="set-layout">
         <h1>Country Group</h1>
        <label id="example-radio-group-label">Choose your country?</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="countryGroup">
          <mat-radio-button class="example-radio-button" *ngFor="let country of countryGroupList" [value]="country.countryName" (input)= sendBloodGroup($event)>
            {{country.countryName}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{countryGroup}}</div>
        </div>
          

     




    </div>
    </div>
    