<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15% ; float: left;">
    <h3 class="w3-bar-item">Menu</h3>
    <mat-list-item  [routerLink]="['blood-group']" routerLinkActive="active" matRipple matTooltip="Dashboard"
    titlePosition="right">
    <mat-icon>invert_colors_off</mat-icon> <span> Blood-Group </span>
</mat-list-item>

<mat-list-item  [routerLink]="['country']" routerLinkActive="active" matRipple matTooltip="Country"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> Country </span>
</mat-list-item>

<mat-list-item  [routerLink]="['state']" routerLinkActive="active" matRipple matTooltip="State"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> State </span>
</mat-list-item>

<mat-list-item  [routerLink]="['city']" routerLinkActive="active" matRipple matTooltip="City"
titlePosition="right">
<mat-icon>invert_colors_off</mat-icon> <span> City </span>
</mat-list-item>

  </div>

